<!DOCTYPE html>
<html ng-app= "toDoList">
 <head>
  <meta charset="UTF-8">
  <title>title</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="app.js"></script>
 </head>
 <body ng-controller="toDoListController">

  <form ng-submit="submit()">
  Enter text and hit enter:
  <input type="text" ng-model="text" name="text" placeholder="What needs to be done?"/>
  <input type="submit" value="Submit" />
</form>

 <li ng-repeat="toDo in toDos">
  <p ng-class="{strike: deleted}">{{ toDo.text }}</p>
  <input type="checkbox" ng-model="deleted" ng-click="clearOne()">
 </li>

 <p>Tasks left to complete: {{ tasks}}</p>

 <p>Total Tasks: {{ toDos.length}}</p>
 <form ng-submit="clear()">
  <input type="submit" value="Clear all">
</form>



 </body>
</html>

