.strike {
    text-decoration: line-through;
}

header{
  text-align: center;
  color: yellow;
  font-family: 'Ranchers', cursive;
  font-size: 30px;
}

li{
   list-style-type: none;
}

#para{
  display: inline-block;
}

