.strike {
    text-decoration: line-through;
}

header{
  text-align: center;
  color: yellow;
  font-family: 'Kranky', cursive;
  font-size: 30px;
}

li{
   list-style-type: none;
}

#para{
  display: inline-block;
}

#main{
  color: yellow;
  position: relative;
  left: 35%;
}

#inputText{
  color: black;
}

